.project
.classpath
*.log
pids/*
!.gitignore
.project
.settings/
**/*.svn
**/*.pmd
*.svn
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
.idea
**/target/*
**/logs/*
test-output/
bin/
*.iml
.project
.classpath
*.log
pids/*
!.gitignore
.project
.settings/
**/*.svn
**/*.pmd
*.svn
*.sublime-project
*.sublime-workspace
*.swp
.DS_Store
.idea
.iml
**/target/*
**/logs/*
test-output/
bin/
*.iml
/target/
